body {
  margin: 0;
  padding: 0;
  font-family: 'Alata', sans-serif;
  font-size: 20px;
  background: rgb(174,215,238);
  background: radial-gradient(circle, rgba(174,215,238,1) 0%, rgba(148,233,178,1) 100%);
}

h3 {
  font-size: 24px;
}